.weatherDataContainer div:hover {
  background-color: whitesmoke !important;
  border-radius: 10px !important;
  padding: 5px !important;
}

.historyDiv:hover {
  background-color: lightgray !important;
}

.weatherIntevalButton:hover {
  background-color: lightgray !important;
}

.castDiv:hover {
  background-color: #16db65 !important;
  box-shadow: 4px 8px 12px gray !important;
  border: none !important;
}
